.top
  = render "shared/header"

.main
  = render "shared/side_bar"
        
  .contents_show
    .mypage
      .mypage_top
        -# = "My page: #{@user.name}"
        = @user.name
      .mypage_icon
        = fa_icon 'user-circle', class: 'icon'

    .contents_main
      .contents_main_box
        .contents_main_box__list
          - @items.each do |items|
            .contents_main_box__list__a
              = link_to item_path(items.id) do
                .contents_main_box__list__post{style:"background-image: url(#{items.image});"}

                .contents_main_box__list__text
                  Item name :
                  .item_name
                    = items.name
                .price
                  Price
                  .price_a
                    ¥
                    = items.price.to_s(:delimited)
.contents_low
  .info
    information
  .icon
    = fa_icon 'facebook', class: 'icon'
    = fa_icon 'twitter', class: 'icon'
    = fa_icon 'google', class: 'icon'
    = fa_icon 'pinterest', class: 'icon'
  