.heder
  .heder_left
    .heder_left_name
      = link_to root_path do
        Make&Sell
  .heder_content
    %ul.heder_content_left
      %li.list
        = link_to current_user.name,  user_path(current_user.id)
        = fa_icon 'user-circle', class: 'icon'
    %ul.heder_content_left
      %li.list
        = link_to new_item_path do
          item 
          = fa_icon 'image', class: 'icon'
    %ul.heder_content_center
      %li.list
        = link_to new_genre_path do
          genre
          = fa_icon 'leaf', class: 'icon'
    %ul.heder_content_right
      %li.list
        = link_to edit_user_path(current_user) do
          User edit
          = fa_icon 'id-badge', class: 'icon'

.mypage
  .mypage_top
    = "My page: #{current_user.name}"
  .mypage_icon
    = fa_icon 'user-circle', class: 'icon'

.side_bar_show
  .info
    Category list
  .side_bar_box
    -@genre.each do |genre|
      .side_bar_list
        = genre.name
      
.contents
  .contents_main
    .contents_main_box
      .contents_main_box__list
        - @items.each do |items|
          .contents_main_box__list__a
            = link_to item_path(items.id) do
              .contents_main_box__list__post{style:"background-image: url(#{items.image});"}

              .contents_main_box__list__text
                Item name :
                .item_name
                  = items.name
              .price
                Price
                .price_a
                  ¥
                  = items.price.to_s(:delimited)
.contents_low
  .info
    information
  .icon
    = fa_icon 'facebook', class: 'icon'
    = fa_icon 'twitter', class: 'icon'
    = fa_icon 'google', class: 'icon'
    = fa_icon 'pinterest', class: 'icon'
  