.contents_main
  .contents_main_box
    .contents_main_box__list
      - @items.each do |item|
        .contents_main_box__list__frame
          = link_to "/items/#{item.id}", method: :get do
            .contents_main_box__list__post{style:"background-image: url(#{item.image});"}

            .contents_main_box__list__text
              .text
                Item name :
              .item_name
                = item.name
            .price
              Price
              .price_in
                ¥
                = item.price.to_s(:delimited)