.side_bar
  .info
    = form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "検索", class: "info"
      .search
        %button.search{type: "submit"}
          %i.icon
            = fa_icon 'search'
  .side_bar_box
    Category
    -@genres.each do |genre|
      .side_bar_list
        = link_to genre.name, "/genres/#{genre.id}"