.top
  = render "shared/header"
  
.item_new
  .item_new__top
    Product edit
  .item_new_create
    .container
      = form_with(model: @item, local: true) do |form|
        .list
          .image
            = form.label :image,"商品画像" 
            = form.file_field :image, id: :item_image
            .image_in
              = image_tag @item.image.url if @item.image?
              :javascript
                $(function() {
                  function readURL(input) {
                    if (input.files && input.files[0]) {
                      var reader = new FileReader();
                      reader.onload = function (e) {
                        $('#image_prev').attr('src', e.target.result);
                      }
                      reader.readAsDataURL(input.files[0]);
                    }
                  }
                  $("#@items_image").change(function(){
                    readURL(this);
                  });
                });
          .name
            商品名：
            = form.text_field :name, placeholder: "Item name" , rows: "2"
          .price
            金額：
            = form.text_field :price, placeholder: "Item price"
          .size_w
            幅：
            = form.text_field :size_w, placeholder: "幅"
          .size_d
            奥行：
            = form.text_field :size_d, placeholder: "奥行"
          .size_h
            高さ：
            = form.text_field :size_h, placeholder: "高さ"
          .text
            紹介文：
            .input
              = form.text_area :text, placeholder: "紹介文を入力して下さい ※200文字以内", class: "input"
          .genre
            ジャンル：
            .genre_in
              = form.collection_check_boxes :genre_ids, Genre.all, :id, :name
          .btn
            = form.submit "SEND"
            