.heder
  .heder_left
    .heder_left_name
      = link_to root_path do
        Make&Sell
  .heder_content
    %ul.heder_content_left
      %li.list
        = link_to current_user.name, user_path(current_user.id)
        = fa_icon 'user-circle', class: 'icon'
    %ul.heder_content_left
      %li.list
        = link_to new_item_path do
          item 
          = fa_icon 'image', class: 'icon'
    %ul.heder_content_center
      %li.list
        = link_to new_genre_path do
          genre
          = fa_icon 'leaf', class: 'icon'

.show-contents
  .show-contents_title
    Details & Comment
  .show-contents_main
    .show-contents_main_in
      .show-contents_main_box
        .show-contents_main_box__list
          .show-contents_main_box__list__a
            .show-contents_main_box__list__post{style:"background-image: url(#{@items.image});"}
            .evaluation
              .evaluation_box
                .evaluation_box_text
                  現在の評価額
                -if @price.present? 
                  .evaluation_box_price
                    .evaluation_box_price__in
                      ¥
                      = @price.round.to_s(:delimited)
                - else
                  .evaluation_box_price_no
                    .evaluation_box_price_no__in
                      No comment
            .evaluation_max
              .evaluation_box
                .evaluation_box_text
                  コメント数 : 
                  .evaluation_box_text_in
                    = @count
                .evaluation_box_price
                  評価数 :
                  .evaluation_box_price__in
                    = @evaluation

          .show-contents_main_box__list__b
            .show-contents_main_box__list__text
              投稿者 :
              = @items.user.name
              さん
            .show-contents_main_box__list__text
              Item name :
              .item_name
                = @items.name
            .price
              .price_text
                Price (想定価格)
              .price_a
                ¥
                = @items.price.to_s(:delimited)
            .size
              Size :
              W
              = @items.size_w
              D
              = @items.size_d
              H
              = @items.size_h
            .sentence
              商品紹介 :
              -if current_user.id == @items.user_id
                .sentence_in
                  = @items.text
                .show_btn
                  .show_btn_in
                    .edit
                      = link_to '編集', "/items/#{@items.id}/edit", method: :get
                    .destroy
                      = link_to '削除', "/items/#{@items.id}", method: :delete
              - else
                = @items.text

      .comment
        -if current_user
          = form_with(model: [@items, @comment], local: true) do |form|
            .comment_box
              .comment_box_text
                = form.text_field :text, placeholder: "コメントする", rows: "2", class: "comment_box_text_in"
              -if current_user.id == @items.user_id
                .comment_box_price
                  .comment_box_price_in_a
                    .text
                      ※投稿者の商品評価額は入力できません
                  .comment_box_btn
                    = form.submit "SEND", class: "btn"
              -else
                .comment_box_price
                  .comment_box_price_in
                    = form.text_field :price, placeholder: "評価額を入力して下さい", class: "comment_box_price_in"
                  .comment_box_btn
                    = form.submit "SEND", class: "btn"
              
    -if @comments.present? 
      .message
        .evaluation_list
          .evaluation_max
            .evaluation_box
              .evaluation_box_text
                .evaluation_box_text_in
                  Max price
              -if @max.present? 
                .evaluation_box_price
                  .evaluation_box_price__in
                  ¥
                  = @max.to_s(:delimited)
              - else
                .evaluation_box_price
                  .evaluation_box_price__in

          .evaluation_low
            .evaluation_box
              .evaluation_box_text
                .evaluation_box_text_in
                  Lowest price
              -if @low.present? 
                .evaluation_box_price
                  .evaluation_box_price__in
                  ¥
                  = @low.to_s(:delimited)
              - else
                .evaluation_box_price
                  .evaluation_box_price__in
      
        .message_in
          - @comments.each do |comment|
            .message_list
              .message_list_box
                %strong
                  -# user name :
                  = link_to comment.user.name, "/users/#{comment.user_id}"
              .message_list_box_a
                .message_list_box_in
                  .message_list_comment
                    comment
                  -if current_user.id == comment.user_id
                    .destroy_text
                    = link_to '✖︎', "/items/:item_id/comments/#{comment.id}", method: :delete
                .message_list_in_text
                  = comment.text
                -if comment.price.present? 
                  .message_list_price
                    評価額は
                    .message_list_price_in
                      ¥
                      = comment.price.to_s(:delimited)
                  

  .show-icon
    = fa_icon 'facebook', class: 'icon'
    = fa_icon 'twitter', class: 'icon'
    = fa_icon 'google', class: 'icon'
    = fa_icon 'pinterest', class: 'icon'